.card{
    margin: 25px;
    margin-left: 40%;
    margin-top: 10%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 320px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card button {
    background-color: #0359b6;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}
.card button:hover {
    background-color: #043e80;
}
.card input{
    padding: 5px ;
    font-size: 1.2rem;
}
#loginBox{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.space{
    margin: 10px;
}
a{
    text-align: center;
}